<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
<h1>登录-页面</h1>
<table>
    <tr>
        <td>用户名:</td>
        <td><input type="text" value="admin"></td>
        <td></td>
    </tr>
    <tr>
        <td>密码:</td>
        <td><input type="text" value="admin"></td>
        <td><a href="user/find">忘记密码？</a></td>
    </tr>
    <tr>
        <td><input type="submit" value="登录"></td>
        <td><a href="user/getRegister"><input type="button" value="注册"></a></td>
        <td></td>
    </tr>
</table>
</body>
</html>